    {% extends "layout.html" %}

    {% set bodyId = "page-ideias"%}

    {% block title %}
        <title>Ideias - Casa Criativa</title>
    {% endblock %}

    {% block content %}
   
    <header>
        <h1>Casa Criativa</h1>
        <h2 style="color: #ff5E84;">Ideias para Quarentena</h2>
        
        <nav>
            <li><a href="/">Início</a></li>            
            <li><a href="#" class="button" onclick="onOff()">Nova Ideia</a></li>
        </nav>    
    </header>
        <section id="title"> 
            <p>em exibição</p>
            <h1>Ideias</h1>       
        </section>    
        <main>
            <section id="ideias">
                {% include "all_ideas.html" %}    
            </section>            
        </main>
        <footer>
            Com ❤<a href="https://rocketseat.com.br/">RocketSet</a> 
        </footer>

    {% endblock %}
   